<script src="{{ url_for('static', filename='npm/node_modules/echarts/dist/echarts.js')}}"></script>
<div id="test" style="width: 600px;height:400px;">
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById("test"));
  option = {
    xAxis: {
      data: {{ dict_data.xAxis_data|tojson }}
    },
    yAxis: {},
    series: [
      {
        data: {{ dict_data.percent_data|tojson }},
        type: "line"
      },
      {
        data: {{ dict_data.percent_current_data|tojson }},
        type: "line"
      },
    ]
  };
  myChart.setOption(option);

</script>