{% extends "layouts/_default/docs.html" %}


{% block title %}
hello title
{% endblock %}


{% block lead %}
this is the lead position!
{% endblock %}



{% block content %}


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ dict_data.cs_type_level_name }}
  </button>
  <ul class="dropdown-menu" style="">
    
    {% for cs_type_level, cs_type_level_name in config["CS_TYPE_LEVEL_DICT"].items() %}
        <li><a class="dropdown-item" href="/cs_type/?cs_type_level={{ cs_type_level }}">{{ cs_type_level_name }}</a></li>
    {% endfor %}

  </ul>
</div>

{% set cs_type_level_id_dict = {"中证二级行业分类简称":"2", "中证三级行业分类简称":"3"} %}
<div class="row" style="width: 100%;">
  <div class="column" style="width: 50%; float: left; height: 0px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ dict_data.cs_type_level_name }}</th>
          <th scope="col">总市值</th>
        </tr>
      </thead>
        {% for cs_type, market_capital in dict_data.cs_type_level_data.items() %}
            <tr>
              <th scope="row">
                <button onclick="location.href='/cs_type/?cs_type_level={{ cs_type_level_id_dict[dict_data.cs_type_level_name] }}&cs_type_name={{ cs_type }}'" type="button">
                  {{ cs_type }}
                </button>
              </th>
              <td>{{ (market_capital/10000000000) | round(2) }} 百亿</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% if dict_data["cs_type_name"] is not none %}
  <div class="column" style="margin-left: 50%; height: 0px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">证券代码</th>
          <th scope="col">证券代码简称</th>
          <th scope="col">行业分类</th>
          <th scope="col">市值</th>
        </tr>
      </thead>
      <tbody>
        {% for index, stock in dict_data.cs_type_level_stock.items() %}
            <tr>
              <td>{{ stock["证券代码"] }}</td>
              {# <td>{{ stock["证券代码简称"] }}</td> #}
              <td><a href="{{ stock['证券雪球链接'] }}" class="link-info">{{ stock["证券代码简称"] }}</a></td>
              <td>{{ stock[dict_data.cs_type_level_name] }}</td>
              <td>{{ (stock["market_capital"]/10000000000) | round(2) }} 百亿</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
</div>

{% endblock %}