{% extends "layouts/_default/docs.html" %}


{% block title %}
indexes data page
{% endblock %}


{% block lead %}
this is the lead position!
{% endblock %}



{% block content %}
this is the content.

<script src="{{ url_for('static', filename='npm/node_modules/echarts/dist/echarts.js')}}"></script>
<div id="csindex_industry_level_data_list" style="width: 1200px;height:800px;">
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById("csindex_industry_level_data_list"));
  option = {
    tooltip: {
        trigger: 'item'
    },
    legend: {
        top: '5%',
        left: 'center'
    },
    series: [
        {
        name: "{{ dict_data.csindex_industry_level_name }}",
        type: 'pie',
        radius: ['40%', '70%'],
        avoidLabelOverlap: false,
        itemStyle: {
            borderRadius: 10,
            borderColor: '#fff',
            borderWidth: 2
        },
        label: {
            show: false,
            position: 'center'
        },
        emphasis: {
            label: {
            show: true,
            fontSize: 40,
            fontWeight: 'bold'
            }
        },
        labelLine: {
            show: false
        },
        data: {{ dict_data.csindex_industry_level_data_list|tojson }}
        }
    ]
    };
  myChart.setOption(option);

</script>

{# {{ dict_data.csindex_industry_level|tojson }} #}







{# <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ dict_data.cs_type_level_name }}
  </button>
  <ul class="dropdown-menu" style="">
    
    {% for cs_type_level, cs_type_level_name in config["CS_TYPE_LEVEL_DICT"].items() %}
        <li><a class="dropdown-item" href="/cs_type/?cs_type_level={{ cs_type_level }}">{{ cs_type_level_name }}</a></li>
    {% endfor %}

  </ul>
</div> #}


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ dict_data.index_name }}
  </button>
  <ul class="dropdown-menu" style="">
    {% for index_id, index_info in config["INDEX_DATA_DICT"].items() %}
      <li><a class="dropdown-item" href="/index/?index_id={{ index_id }}&csindex_industry_level={{ dict_data.csindex_industry_level }}">{{ index_info.name }}</a></li>  
    {% endfor %}
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ dict_data.csindex_industry_level_name }}
  </button>
  <ul class="dropdown-menu" style="">
    {% for csindex_industry_level, csindex_industry_level_info in config["CSINDEX_INDUSTRY_LEVEL"].items() %}
      <li><a class="dropdown-item" href="/index/?index_id={{ dict_data.index_id }}&csindex_industry_level={{ csindex_industry_level }}">{{ csindex_industry_level_info.name }}</a></li>  
    {% endfor %}
  </ul>
</div>



<div class="column" style="margin-left: 50%; height: 0px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">证券代码</th>
          <th scope="col">证券代码简称</th>
          <th scope="col">行业分类</th>
          <th scope="col">市值</th>
        </tr>
      </thead>
      <tbody>
        {% for index, stock in dict_data.csindex_industry_stock_data.items() %}
            <tr>
              <td>{{ stock["证券代码"] }}</td>
              {# <td>{{ stock["证券代码简称"] }}</td> #}
              <td><a href="{{ stock['证券雪球链接'] }}" class="link-info">{{ stock["证券代码简称"] }}</a></td>
              <td>{{ stock[dict_data.csindex_industry_level_name] }}</td>
              <td>{{ (stock["market_capital"]/10000000000) | round(2) }} 百亿</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock %}